<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="cacheEnabled" value="true" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.study.handler.type.ExampleTypeHandler"/>
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis_study?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="Study@mysql"/>
            </dataSource>
        </environment>
    </environments>

    <databaseIdProvider type="DB_VENDOR">
        <property name="Oracle" value="oracle"/>
        <property name="MySQL" value="mysql"/>
        <property name="DB2" value="d2"/>
        <property name="PostgreSQL" value="pg"/>
    </databaseIdProvider>

    <mappers>
        <mapper resource="mybatis/UserInfoMapper.xml"/>
    </mappers>

</configuration>